<a href="https://colab.research.google.com/github/SUYAMBULAKSHMI-VENKATESAN/DAMAKA/blob/main/numpytutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#before using libraries , lib has to be created first, for that in cmd prompt , pip install numpy , it will install, then come back to the code page give command as import numpy
#json - dictionary format - java script


import numpy as np#for data cleaning process - if not - accuracy less - process numerical data - list[any data type] - allow homogenious only(numpy - low memory usage )- allows hetterogenous(list)(high memory usage) - c, c++
import pandas as pd#for data cleaning process - if not - accuracy less - dataframe (forms columns)
import matplotlib #visualization
import sklearn #tensorflow


#numpy in n-dimentional array

# 0 dimentio - single value array
# 1 dim - more than one
# 2 dim - [[ ],[ ]] list kula list

In [3]:
np.array(20) #zero dimentional

array(20)

In [4]:
np.array([4,7,8,14,20]) #one dimentional array

array([ 4,  7,  8, 14, 20])

In [6]:
a=np.array([[1,2,3],[4,5,6]]) #two dimentional array

In [7]:
# if i wanna convert this 2 dimentional array into 3 dimentional array
np.array([[1,2,3],[4,5,6]]) #no of square bracket = no of dimentional array

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
a.ndim

2

In [10]:
a.shape

(2, 3)

In [11]:
a.size

6

In [12]:
#hands on

array1=np.array([1,2,3,4,5])
array2=np.array([6,7,8,9,10])

print("ARITHMETIC OPERATIONS")

print("ADDITION = ", array1 + array2)
print("SUBTRACTION = ", array1 - array2)
print("MULTIPLICATION = ", array1 * array2)
print("DIVISION = ", array1 / array2)

ARITHMETIC OPERATIONS
ADDITION =  [ 7  9 11 13 15]
SUBTRACTION =  [-5 -5 -5 -5 -5]
MULTIPLICATION =  [ 6 14 24 36 50]
DIVISION =  [0.16666667 0.28571429 0.375      0.44444444 0.5       ]

In [16]:
np.max(array1)

5

In [17]:
np.min(array2)

6